*{
    margin: 0;
    padding: 0;
}
 body{
    display: flex;
    justify-content: center;
    align-items: center; 
} 
.container{
    border: 20px solid black;
    width: 500px;
    height: 500px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 30px;
    position: relative;
    background-color: aqua;
}
.point{
    width: 20px;
    height: 20px;
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 240px;
    left: 240px;
}
 .hour{
    font-size: 30px;
    font-weight: bold;
    color: #283149;
    position: absolute;
} 
.hour-1{
    top: 40px;
    right: 130px;
}
.hour-2{
    top: 125px;
    right: 45px;
}
.hour-3{
    top: 235px;
    right: 15px;
}
.hour-4{
    top: 345px;
    right: 45px;
}
.hour-5{
    top: 430px;
    right: 130px;
}
.hour-6{
    bottom: 10px;
    left: 240px;
}
.hour-7{
    top: 430px;
    left: 130px;
}
.hour-8{
    top: 345px;
    left: 45px;
}
.hour-9{
    top: 235px;
    left: 15px;
}
.hour-10{
    top: 125px;
    left: 45px;
}
.hour-11{
    top: 40px;
    left: 130px;
}
.hour-12{
    top: 10px;
    left: 240px;
}
h1{
    /* font-size: 20px; */
    font-weight: bold;
    color: red;
    position: absolute;
    top: 90px;
    left: 42.5%;
    text-transform: capitalize;
}
#hour, #minutes, #seconds{
    position: absolute;
    /* background: black; */
    border-radius: 10px;
}

#hour {
width: 2%;
height: 28%;
top: 22%;
left: 49.5%;
opacity: 0.8;
transform-origin: bottom;
background: black;
}

#minutes{
    width: 1%;
    height: 39%;
    top: 11.5%;
    left: 49.5%;
    transform-origin: bottom;
    background: black;
}

#seconds{
    width: 0.5%;
    height: 44%;
    top: 6%;
    left: 49.6%;
    transform-origin: bottom;
    background: red;
}